
package $[packageName].ui;

import javax.swing.JComponent;

import net.jini.core.lookup.ServiceItem;

import net.jini.lookup.ui.factory.JComponentFactory;

public class $[className]UIFactory implements JComponentFactory,java.io.Serializable {
    
    public JComponent getJComponent(Object roleObject) {
    	ServiceItem svItem = (ServiceItem) roleObject;
        $[fqName] theComponent = new $[fqName](svItem);
        return theComponent;
    }

}