
package $[packageName].ui;

import java.awt.Dialog;
import java.awt.Frame;

import net.jini.core.lookup.ServiceItem;

import javax.swing.JDialog;

import net.jini.lookup.ui.factory.JDialogFactory;

public class $[className]UIFactory implements JDialogFactory,java.io.Serializable {
    
    public JDialog getJDialog(Object roleObject) {
    	ServiceItem svItem = (ServiceItem) roleObject;
        $[fqName] theDialog = new $[fqName](svItem);
        return theDialog;
    }

    public JDialog getJDialog(Object roleObject, Dialog dialog) {
    	ServiceItem svItem = (ServiceItem) roleObject;
    	$[fqName] theDialog = new $[fqName](svItem,dialog);
       	return theDialog;
    }

    public JDialog getJDialog(Object roleObject, Dialog dialog, boolean modal) {
    	ServiceItem svItem = (ServiceItem) roleObject;
    	$[fqName] theDialog = new $[fqName](svItem,dialog,modal);
        return theDialog;
    }

    public JDialog getJDialog(Object roleObject, Frame frame) {
    	ServiceItem svItem = (ServiceItem) roleObject;
    	$[fqName] theDialog = new $[fqName](svItem,frame);
        return theDialog;
    }

    public JDialog getJDialog(Object roleObject, Frame frame, boolean modal) {
    	ServiceItem svItem = (ServiceItem) roleObject;
    	$[fqName] theDialog = new $[fqName](svItem,frame,modal);
        return theDialog;
    }
}


