
package $[packageName].ui;

import java.awt.Dimension;

import javax.swing.JFrame;

import net.jini.core.lookup.ServiceItem;


public class $[className]UIFactory implements net.jini.lookup.ui.factory.JFrameFactory, java.io.Serializable {


	public JFrame getJFrame(Object roleObject) {
		ServiceItem svItem = (ServiceItem) roleObject;
		$[fqName] theFrame = new $[fqName](svItem);
		return theFrame;

	}

}