package $[packageName].ui;

import java.awt.Window;
import java.awt.Frame;

import net.jini.core.lookup.ServiceItem;

import java.awt.Frame;
import java.awt.Window;

import javax.swing.JWindow;

import net.jini.lookup.ui.factory.JWindowFactory;

public class $[className]UIFactory implements JWindowFactory,java.io.Serializable {
    
    public JWindow getJWindow(Object roleObject) {
    	ServiceItem svItem = (ServiceItem) roleObject;
        $[fqName] theWindow = new $[fqName](svItem);
        return theWindow;
    }

    public JWindow getJWindow(Object roleObject, Frame owner) {
    	ServiceItem svItem = (ServiceItem) roleObject;
    	$[fqName] theWindow = new $[fqName](svItem,owner);
       	return theWindow;
    }

    public JWindow getJWindow(Object roleObject, Window owner) {
    	ServiceItem svItem = (ServiceItem) roleObject;
    	$[fqName] theWindow = new $[fqName](svItem,owner);
        return theWindow;
    }
}