
package $[packageName].ui;

import java.awt.Panel;

import net.jini.core.lookup.ServiceItem;

import net.jini.lookup.ui.factory.Panel;

public class $[className]UIFactory implements PanelFactory,java.io.Serializable {
    
    public Panel getPanel(Object roleObject) {
    	ServiceItem svItem = (ServiceItem) roleObject;
        $[fqName] theComponent = new $[fqName](svItem);
        return theComponent;
    }

}