package $[packageName];

/* Generated via Exportable Annotations */

public class $[className]Impl implements $[className]{

    private $[originalPackageName].$[className] backend = null;

    public $[className]Impl($[originalPackageName].$[className] backend){
        this.backend = backend;
    }

    $[methods]

}  
