package $[packageName];
$[useInjection]
public class $[className]Adapter extends $[delegateClassName] implements net.jini.admin.Administrable{
	
	private Object adminProxy;
	
	public $[className]Adapter(String[] args){
		super(args);
	}
	

	
	public void setAdmin(Object adminProxy){
		this.adminProxy = adminProxy;
	}
	
	public Object getAdmin(){
		return this.adminProxy;
	}
}