package $[packageName];

import net.jini.core.entry.Entry;

import org.jini.glyph.AttributeBuilder;
import java.util.ArrayList;


public class $[className]AttributeBuilder implements AttributeBuilder{
	public Entry[] buildAttributes(Entry[] initialAttributes){
		ArrayList arr = new ArrayList();		
		for(int i =0; i<initialAttributes.length;i++){
                       arr.add(initialAttributes[i]);
                }
                
                
		$[loop: attributesEntry as entry]
			$[entry]
		$[endloop]
		
		return (Entry[]) arr.toArray(new Entry[]{});
	}
}