package $[packageName];

public class $[className]LeaseHelper implements org.jini.glyph.LandlordHelper{
	public boolean deallocateLease(com.sun.jini.landlord.LeasedResource resource){
		return true;
	}
}