
import com.sun.jini.landlord.FixedLeasePeriodPolicy;
import net.jini.jeri.*;
import net.jini.jeri.http.*;
import net.jini.jeri.tcp.*;
import com.sun.jini.constants.TimeConstants;

$[packageName].$[className]Landlord{
	 landlordExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
	 grantPolicy= new FixedLeasePeriodPolicy(60000L, 30000L);
	 reaperSeconds=new Integer(10);
} 	