import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.SharedActivatableServiceDescriptor;
import com.sun.jini.start.SharedActivationGroupDescriptor;
import com.sun.jini.config.ConfigUtil;
import java.io.*;

com.sun.jini.start {
	
	

    	private static codebase = "$[codebase]";

        private static jiniRoot = "$[jiniRoot]/";

        private static svcRoot = "$[svcRoot]/";


        private static separator = System.getProperty("path.separator");


private static groupClasspath =  ConfigUtil.concat(new Object[] {"$[jiniRoot]/sharedvm.jar", separator,
"$[jiniRoot]/phoenix-init.jar"});

        static classpath = ConfigUtil.concat(new Object[] {
            "$[scriptClasspath]", separator,
            jiniRoot, "jsk-lib.jar", separator,
            jiniRoot, "jsk-platform.jar", separator, 
            jiniRoot, "sun-util.jar", separator,
            svcRoot, "$[projectName].jar", separator, "."});

        private static config = ConfigUtil.concat(new Object[] {
            svcRoot, "conf/$[svcName].config"});

        private static policy = ConfigUtil.concat(new Object[] {
            svcRoot, "conf/policy-$[svcName].all"});


	private static groupPolicy = ConfigUtil.concat(new Object[] {
            svcRoot,"conf/policy-$[svcName].all"});
	private static groupLogDir = ConfigUtil.concat(new Object[] {
            svcRoot,"log/group.log"});
	
	
	
	private groupDesc =new SharedActivationGroupDescriptor(
		groupPolicy, groupClasspath, groupLogDir,
		null ,
		null,
		null,null,$[activationPort]);
			
	private $[className]Desc = new SharedActivatableServiceDescriptor(
		codebase, policy, classpath,
		"$[packageName].$[className]ServiceImpl",groupLogDir,
		new String[]{config},
		true, null,$[activationPort]);
		
		
		 static serviceDescriptors = new ServiceDescriptor[] {
		 	groupDesc, $[className]Desc
          };
	
	 private static sharedGroupCodebase = ConfigUtil.concat(new Object[] {"$[groupCodebase]"});
 	 private static sharedGroupPolicy = groupPolicy;
 	 private static sharedGroupClasspath = ConfigUtil.concat(new Object[] { jiniRoot, "group.jar"});
     private static sharedGroupConfig = ConfigUtil.concat(new Object[] {svcRoot, "conf/activatable-group.config"});
     private static sharedGroupImpl = "com.sun.jini.start.SharedGroupImpl";
     private static sharedGroupService =
 		new SharedActivatableServiceDescriptor(
 			sharedGroupCodebase,
 			sharedGroupPolicy,
 			sharedGroupClasspath,
 			sharedGroupImpl,
 			groupLogDir, // Same as above
 			new String[] { sharedGroupConfig },
 		false,null,$[activationPort]);
	
}
