body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size:14px;
}



.example {
		margin-top:12px;
	margin-bottom:12px;
    margin-left:120px;
    left:120px;
    margin-right:60px;
    right:60px;
    background-color:black;
    border: 2px inset navy;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    white-space: pre;
    color: white;
    display:block;
    overflow:auto;
}

